{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle"
 data-toggle="collapse" data-target=".navbar-collapse">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="/">Flasky</a>
 </div>
 <div class="navbar-collapse collapse">
 <ul class="nav navbar-nav">
 <li><a href="/">Home</a></li>
 <li><a href="/user/{{name}}">User</a></li>
 </ul>
 </div>
 </div>
</div>
{% endblock %} {% block content %}
<div class="container">
 <div class="page-header">
 <h1>Hello, {{ name| capitalize }}!</h1>
    <h2>safe 渲染值时不转义</h2>
    <h2>capitalize 把值的首字母转换成大写，其他字母转换成小写</h2>
    <h2>lower 把值转换成小写形式</h2>
    <h2>upper 把值转换成大写形式</h2>
    <h2>title 把值中每个单词的首字母都转换成大写</h2>
    <h2>trim 把值的首尾空格去掉</h2>
    <h2>striptags 渲染之前把值中所有的 HTML 标签都删掉</h2>
 </div>
</div>
{% endblock %}


